# Entornos virtuales
venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Datos (Opcional)
# Si quieres que cada usuario empiece con su propio JSON vacío, 
# descomenta la siguiente línea:
# tasks.json
